################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/IT/.vs/IT
/src/IT/bin/Debug/net5.0
/src/IT/obj
